@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$main_color: hsl(0, 1%, 19%);

* {
  margin: 0;
  padding: 0px;
}

.bg-light {
  background-color: white !important;
}

body {
  font-family: "Source Sans Pro";
  font-size: 16px;

  header {
    background-color: white !important;

    .header {
      background-color: white !important;
      color: $main_color;
      min-height: 56px;
      max-width: 800px;
      .brand-letter {
        display: inline;
      }
      .navbar-toggler {
        border: none;
        img {
          opacity: 0.75;
        }
      }
      ul li a {
        color: $main_color;
        text-decoration: none;
      }
      ul li {
        max-height: 56px;
        &:link {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:visited {
          text-decoration: none;
        }
        &:hover {
          font-weight: 400;
          background-color: rgb(168, 168, 168);
          border-bottom: 0px solid black;
        }
        &:active {
          border-bottom: 1px solid black;
        }
      }
      .nav-icon img {
        height: 24px;
      }
    }
  }
}

.cover {
  background-color: #333333;
  color: hsla(0, 14%, 96%, 0.952);
  overflow: hidden;

  .creator {
    max-width: 100vw;
    img {
      max-width: 45vw;
      max-height: 160px;
      border: 1px solid rgba(175, 175, 175, 0.75);
      border-radius: 50%;
      margin-right: 5%;
    }
    .personal-info {
      max-width: 45vw;
      h2 {
        margin-left: 1rem;
        margin-bottom: 0.5rem;
      }
      span {
        padding-bottom: 0.2rem;
        min-width: 175px;
        a {
          color: white;
        }
      }
    }

    div img {
      width: 1rem;
      background-color: rgba(255, 255, 255, 1);
      border: #333333;
      border-radius: 100%;
      margin-right: 0.5rem;
      margin-left: 0px;
      border: 0px;
    }
  }
  .resume-text {
    max-width: 800px;
    .skill {
      color: rgb(46, 46, 46);
      display: inline-flex;
      padding: 0px 3px;
      border: 1px solid rgb(9, 148, 9);
      border-radius: 5px;
      background-color: rgb(139, 218, 139);
      line-height: inherit;
      margin: 0;
    }
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
}

.cover-control {
  background-color: #333333;
  img {
    background-color: white;
    border-radius: 100%;
  }
}

.cv-full {
  width: 100%;
  max-width: 800px;
  overflow: hidden;

  .cv-content {
    width: 100%;
    .cv-unit {
      width: inherit;
    }
  }
}

.pecazunk {
  overflow: hidden;
  .pecazunk-row {
    .pecazunk-right {
      .mock {
        max-height: 450px;
        transform: rotate(0deg);
      }
      .highlight {
        color: white;
        display: inline-flex;
        padding: 0px 3px;
        border: 1px solid #6b7c8d;
        border-radius: 5px;
        background-color: #2d3e50;
        line-height: inherit;
        margin: 0;
      }
    }

    .pecazunk-left {
      .highlight {
        color: white;
        display: inline-flex;
        padding: 0px 3px;
        border: 1px solid rgb(245, 196, 105);
        border-radius: 5px;
        background-color: orange;
        line-height: inherit;
        margin: 0;
      }
      .rotated {
        max-width: 500px;
        transform: rotate(-5deg);
      }
    }
  }
}

.portfolio {
  .portfolio-showcase {
    border: 1px solid #e6e3e3;
    overflow: hidden;
    img {
      width: 100%;
    }

    .project-discription {
      background-color: hsla(0, 0%, 96%, 0.877);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      .btn {
        width: 150px;
      }
    }
  }
}
